body {
    font-family: "Roboto", sans-serif;
    line-height: 1.3;
}

.title {
    text-align: left;
}

h2 {
    color: #8E44AD;
    border-bottom: 1px solid #ddd;
    margin-top: 1em;
    margin-bottom: 0em;
    padding-bottom: 4px;
}

dd {
    padding-bottom: 10px;
}

a {
    color:#8E44AD;
}

.intro-container {
  display: flex;
  flex-direction: row; 
  align-items: flex-start;
  margin-bottom: 1em;
}

.intro-img {
  margin-top: 2em;
  margin-right: 10px;
  width: 325px;       
  height: auto;     
}

@media (max-width: 150px) {
  .intro-container {
    flex-direction: column; 
    align-items: center;    
  }

  .intro-img {
    margin-right: 0;
    margin-bottom: 1em;
    width: 100%;
    max-width: 325px;
  }
}
